<div class="navbar-container">
    <div class="logo-home">LOGO</div>
    <div class="navbar-first-group">
        <div class="btn1"><%= link_to "S'inscrire" , new_user_registration_path %></div>
        <div class="btn2"><%= link_to "Se connecter", new_user_session_path %></div>
        <div class="btn3"><%= link_to "Se deconnecter" , cancel_user_registration_path %></div>
    </div>
</div>