<div id="container">

    <ul>
    <div class="cards">
        <%  @girls.each do |girl|%>
    <li>
        <div class="card">
           <p><%= girl.name %></p>
           <p><%= girl.user_id %></p> 
           <p><%= link_to "show", girl %></p>
        </div>
    </li>
        <% end %>
    </ul>
    </div>
    
</div>