<div id="container">

    <ul>
    <div class="cards">
        <%  @girls.each do |girl|%>
    <li>
        <div class="card">
           <p><%= girl.name %></p>
           <p><%= girl.user_id %></p> 
        </div>
    </li>
        <% end %>
    </ul>
    </div>
    <% if user_signed_in? %>
        <h2><%= link_to "NEW GIRL", new_girl_path(@user) %></h2>
    <% end %>
</div>