<h1>SHOW</h1>
<%= @girl.name %>
<br>
<%= link_to "edit", edit_girl_path %>
<br>
<%= link_to "delete", @girl, method: :delete, data: { confirm: "are you sure ? "} %>
<br>
<%= link_to "retour", root_path %>







